---
import Author from "./links/Author.astro";
import GitHub from "./links/GitHub.astro";
import GitLab from "./links/GitLab.astro";
import Twitter from "./links/Twitter.astro";

export interface Props {
	name: string;
	nick?: string;
	twitter?: string;
	github?: string;
	gitlab?: string;
	href?: string;
}

const { name, nick, href, github, gitlab, twitter } = Astro.props;
---

<div class="author">
	<p>
		by
		<Author {name} {nick} {href} />
		<GitHub nick={github} />
		<GitLab nick={gitlab} />
		<Twitter nick={twitter} />
	</p>
</div>

<style>
	.author {
		margin-bottom: 0.75rem;
	}
</style>
