---
import AuthorLink from "./AuthorLink.astro";
import GitHub from "./GitHub.astro";
import GitLab from "./GitLab.astro";
import Twitter from "./Twitter.astro";

export interface Props {
	name: string;
	twitter?: string;
	github?: string;
	gitlab?: string;
	href?: string;
}

const { name, href, github, gitlab, twitter } = Astro.props;
---

<div class="author">
	<p>
		<AuthorLink {name} {href} />
		<GitHub nick={github} />
		<GitLab nick={gitlab} />
		<Twitter nick={twitter} />
	</p>
</div>

<style>
	.author {
		margin-bottom: 0.75rem;
	}
</style>