---
import { MarkdownInstance } from 'astro';
import { CollectionEntry } from 'astro:content';
import Author from './Author.astro';
import Date from './Date.astro';

export interface Props {
	post: CollectionEntry<'post'>;
}

const { post } = Astro.props;

const url = import.meta.env.BASE_URL + 'posts/' + post.slug;
---

<article class="post-preview">
	<header>
		<a href={url}>
			<h1 class="title" set:html={post.data.title} />
		</a>
		<div class="post-meta">
			<Date datetime={post.data.publishDate} />
			<Author name={(post.data.author && post.data.author.name) || 'Norbert Melzer'} />
		</div>
	</header>
	<p>{post.data.description}</p>
	<a href={url}>Read more</a>
</article>

<style>
	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	header {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 2rem;
		text-align: left;
	}

	.post-meta {
		display: flex;
		flex-flow: column;
		text-align: right;
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
