---
import Author from "./Author.astro";
import Date from "./Date.astro";

export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header>
		<a href={post.url}>
			<h1 class="title" set:html={post.frontmatter.title}></h1>
		</a>
		<div class="post-meta">
			<Date date={post.frontmatter.publishDate} />
			<Author
				name={(post.frontmatter.author &&
					post.frontmatter.author.name) ||
					"Norbert Melzer"}
			/>
		</div>
	</header>
	<p>{post.frontmatter.description}</p>
	<a href={post.url}>Read more</a>
</article>

<style>
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	header {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 2rem;
		text-align: left;
	}

	.post-meta {
		display: flex;
		flex-flow: column;
		text-align: right;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
